defaults: &defaults
  log_cache: true
  perform_caching_in_development: true
  active_record_query_trace: true
  log_active_record: true
  log_active_record_slow: 1000
  gc_profiler: true
  # redis config
  redis: &redis
    host: localhost
    port: 6379
    data_db: 0
    job_db: 1
    cache_db: 2
    timeout: 5000
    expires_in: <%= 2.weeks %>

  sesame_mall_db:
    adapter: mysql2
    encoding: utf8
    pool: 20
    host: xxxxxxxxx
    port: 3306
    database: xxxxxx
    username: root
    password: xxxxxx

  log:
    level: :info
    tags:
      - :subdomain
      - :uuid

  rack_cors:
    origins: '*'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults