<tr>
  <th scope="row"><%= record.id %></th>
  <td><%= record.category.to_s %></td>
  <td><%= "#{record.start_at.to_date} ~ #{record.end_at.to_date}" %></td>
  <% stat_fields.each {|field| %>
    <td><%= format_numberlize value: record.send(field), field: field %></td>
  <% } %>
</tr>