<div class="container-fluid">
  <div class="card-title"><h1>运营报表</h2></div>
  <div class="card">
    <div class="card-body">
      <div class="list-group">
        <%= link_to "新增店主报表", dev_report_shops_path, class: "list-group-item list-group-item-action"%>
        <%= link_to "店主行为报表", dev_report_shop_activities_path, class: "list-group-item list-group-item-action"%>

      </div>
    </div>
  </div>
</div>